.header {
    width: 100%;
    height: 10.2rem;
    position: absolute;
    // padding: 0 2rem;
    &__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .nav{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            bottom: -1rem;
            left: -5%;
            height: 2px;
            width: 110%;
            background-color: white;
        }
        &__list{
            display: flex;
            justify-content: space-evenly;
        }
        &__item{
            list-style: none;
            margin: 0 1rem;
        }
        &__link {
            text-decoration: none;
            font-size: font-size(small);
            color: white;
            font-family: var(--font-body-family);
            // font-weight: 200;
        }
    }
    .menu{
        &__button{
            display: block;
            height: 3.6rem;
            width: 6.2rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            .line{
                z-index: 2;
                position: relative;
                width: 100%;
                height: 3px;
                background-color: $primary-color;
                &::after{
                    position: absolute;
                    height: 3px;
                    content: "";
                    width: 100%;
                    background-color: $primary-color;
                    top: -9px;
                    left: 0;
                }
                &::before{
                    position: absolute;
                    height: 3px;
                    content: "";
                    width: 100%;
                    background-color: $primary-color;
                    bottom: -9px;
                    left: 0;
                }
            }
        }
    }
    @include media-tablet {
        &__wrapper{
            justify-content: space-between;
            padding: 0 2rem;
        }
        .nav{
            position: relative;
            width: 100%;
            height: 100%;

            &::after{
                display: none;
            }
            &__list{
                position: absolute;
                flex-wrap: wrap;
                top: -50rem;
                left: 0;
                width: 100%;
                transition: all .3s ease-in-out;

                justify-content: space-between;
                &.open{
                    top: 20rem;
                }
            }
            &__item{
                width: 100%;
            }
            &__link{
                font-size: font-size(regular);
                margin-top: 2rem;
                display: block;
                text-align: center;
            }
        }
    }
}