.shopify-section.main__header {

    // z-index: 3;
    height: 0;

    // &.sticky {
    //     position: relative;
    //     top: 1px;
    //     left: 0;
    //     height: 0rem;
    // }
    // overflow-x: hidden;
    // transition: all .4s ease-in-out;

    &.sticky {
        height: 0;
    }

    // background: transparent;
}

.header {
    width: 100%;
    height: 10.2rem;
    z-index: 10;
    position: absolute;
    transition: all .4s ease-in-out;
    top: 0;


    // animation: stickyNavOut .4s ease-in-out .2s 1 backwards;
    &--page {
        @extend .header;
        position: relative;
        background: white;

        box-shadow: 0 5px 15px black;

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            animation: stickyNavIn .4s ease-in-out .2s 1 both;
            background: linear-gradient(to bottom, rgb(255, 252, 252), rgba(158, 158, 158, 0.61) 85%, rgba(255, 255, 255, 0)) !important;
        }

        .header {
            &__nav-link {
                color: black;
            }

            &__icon-container {
                svg {
                    path {
                        fill: black;
                    }
                }
            }

            &__nav {
                &::after {
                    background-color: black;
                }
            }

            &__nav-item--sub {

                &:active,
                &:hover {
                    .header__nav-link {
                        color: $primary-color;
                    }

                    .header__icon-container {
                        svg {
                            path {
                                fill: $primary-color;
                            }
                        }
                    }
                }
            }
        }

    }

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        animation: stickyNavIn .4s ease-in-out .2s 1 both;
        background: linear-gradient(to bottom, rgb(13, 13, 13), rgb(13, 13, 13, .1) 85%, rgba(255, 255, 255, 0));

    }

    &__logo-container {
        position: relative;
        z-index: 1;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }

    &__logo {
        position: relative;
        z-index: -1;
    }

    // padding: 0 2rem;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &__nav {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            bottom: -1rem;
            left: -5%;
            height: 2px;
            width: 110%;
            background-color: white;
        }
    }

    &__nav-list {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        z-index: 10;
    }


    &__nav-item {
        list-style: none;
        position: relative;
        margin: 0 1rem;

        &::before {
            content: "";
            position: absolute;
            top: -.5rem;
            left: -.5rem;
            opacity: 0;
            background-color: $primary-color;
            width: calc(100% + 1rem);
            height: calc(100% + 1rem);
            border-radius: 5px;
            z-index: -1;
            transition: opacity .4s ease-in-out;
        }

        &:active::before,
        &:hover::before {
            opacity: 1;
        }
    }

    &__nav-link {
        text-decoration: none;
        font-size: calc(.9rem + 0.5vw);
        color: white;
        font-family: var(--font-body-family);
        text-transform: uppercase;
        // font-weight: 200;
    }

    &__nav-link-wrapper {
        display: flex;
        align-items: baseline;
        // width: min-content;
    }

    &__sub-link-list {
        list-style: none;
        position: absolute;
        width: 15.5rem;
        top: 100%;
        left: 0;
        height: 0;
        z-index: 1;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }

    &__sub-link {
        text-decoration: none;
        color: white;
        font-size: font-size(small);
        position: relative;
        z-index: 10;
        width: calc(100% + 5rem);
        display: inline-block;
    }

    &__sub-link-item {
        position: relative;
        height: auto;
        padding: .5rem 0;
        margin: .5rem 0;
        overflow-x: hidden;
        z-index: 1;
        min-width: calc(100% + 2rem);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: var(--primary-color);
            transition: left 0.4s ease-in-out;
            border-radius: 0px;
        }

        &:active::after,
        &:hover::after {
            left: 0;
            z-index: -1;

        }

    }

    &__icon-container {
        display: block;
        width: 2rem;
        margin-left: 4px;

        svg {
            path {
                fill: white;
            }
        }
    }

    &__nav-item--sub {
        list-style: none;
        position: relative;
        margin: 0 1rem;
        width: fit-content;
        position: relative;
        cursor: pointer;
        // padding-left: 1rem;

        &::after {
            content: "";
            position: absolute;
            top: -1rem;
            left: -1rem;
            width: 15.5rem;
            height: calc(100% + 1rem);
            background-color: transparent;
            z-index: -1;
            transition: all .3s ease-in-out;

        }

        &:active,
        &:hover {
            .header__nav-link {
                color: $primary-color;
            }

            .header__icon-container {
                svg {
                    path {
                        fill: $primary-color;
                    }
                }
            }
        }

        .header__nav-link {
            width: fit-content;
        }

        // &:active::after,
        // &:hover::after {
        &.open {
            &::after {
                content: "";
                position: absolute;
                top: -4px;
                left: -1rem;
                width: calc(100% + 2.4rem);
                height: calc(100% + 1rem);
                background-color: rgb(13, 13, 13);
                // padding-top: 100%;
                border-radius: 3px 3px 0 0;
                z-index: -1;
            }
        }

        // &:active,
        // &:hover
        &.open {

            &:active,
            &:hover {
                color: black;
            }

            .header__nav-link {
                color: white;

                &:active,
                &:hover {
                    color: white;
                }
            }


            .header__nav-link-wrapper {
                position: relative;

            }

            .header__sub-link-list {
                transition: all .3s ease-in-out;

                padding-top: 1rem;
                padding-bottom: 1rem;
                height: fit-content;
                overflow: visible;
                width: max-content;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0.5rem;
                    left: -1rem;
                    width: calc(100% + 6rem);
                    height: 100%;
                    z-index: -1;
                    border-radius: 0 3px 3px 3px;
                    background-color: rgb(13, 13, 13);
                }

            }

        }
    }







    &__menu {
        visibility: hidden;
    }

    &__button {
        display: flex;
        align-items: center;
        height: 3.6rem;
        width: 6.2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    &__button-line {
        display: block;
        margin: auto;
        z-index: -1;
        position: relative;
        width: inherit;
        height: 3px;
        background-color: $primary-color;

        &::after {
            position: absolute;
            height: 3px;
            content: "";
            width: 100%;
            background-color: $primary-color;
            top: -12px;
            left: 0;
        }

        &::before {
            position: absolute;
            height: 3px;
            content: "";
            width: 100%;
            background-color: $primary-color;
            bottom: -12px;
            left: 0;
        }
    }

    &__overlay {
        height: 100%;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        // height: 0;
        transform: translateY(-100%);
        transition: all .5s ease-in-out;

    }




    @include media-tablet {
        overflow: hidden;

        &__menu {
            visibility: visible;
        }

        &__wrapper {
            justify-content: space-between;
            padding: 0 2rem;
        }

        &__nav {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100vw;
            overflow-y: hidden;

            &::after {
                display: none;
            }
        }

        &__button-line,
        &__button-line::after,
        &__button-line::before {
            transition: all .3s ease-in-out;

            z-index: 4;
            filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));

        }

        &__icon-container {
            height: auto;
            width: auto;
            display: block;

            &>svg {
                width: 3rem;
                height: auto;

                path {
                    fill: white;
                }
            }
        }

        &__input {
            &:checked {
                transition: all .3s ease-in-out;

                ~.header {
                    transition: all .3s ease-in-out;

                    height: 100%;
                    overflow-y: hidden;

                    .header__logo-container,
                    .header__menu {
                        position: fixed;
                        top: 3rem;
                        z-index: 4;
                    }

                    .header__logo-container {
                        left: 2rem;
                    }

                    .header__menu {
                        right: 2rem;
                    }

                    .header__button-line,
                    .header__button-line::after,
                    .header__button-line::before {
                        transition: all .3s ease-in-out;

                        z-index: 4;
                        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.495));
                    }

                    .header__button-line::after {
                        transform: rotate(45deg);
                        top: 0;
                        bottom: 0;
                    }

                    .header__button-line {
                        height: 0;
                    }

                    .header__button-line::before {
                        transform: rotate(-45deg);
                        top: 0;
                        bottom: 0;
                    }

                    .header__nav {
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 3;
                        width: 100vw;
                        height: 100%;

                        overflow-y: hidden;
                    }

                    .header__nav-list {
                        // position: fixed;
                        width: 100%;
                        top: 20rem;
                        z-index: 3;
                        margin-top: 2rem;
                        padding: 0 calc(.5rem + 3vw);
                        height: 3rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .header__overlay {
                        transition: transform .5s ease-in-out;
                        position: fixed;
                        // overflow: hidden;
                        transform: translateY(0);

                        top: 0;
                        left: 0;
                        z-index: 2;
                        height: 100%;
                        width: 100vw;
                        background-color: $primary-color;
                    }
                }

                ~.header .header__wrapper {
                    align-items: flex-start;
                }

                ~.header .header__wrapper {
                    position: relative;
                    z-index: 4;
                }






            }
        }

        &__nav-list {
            position: absolute;
            flex-wrap: wrap;
            top: -50rem;
            left: 0;
            width: 100%;
            transition: all .3s ease-in-out;

            justify-content: space-between;

            &.open {
                top: 20rem;
            }
        }

        &__nav-item {
            cursor: pointer;
            position: relative;
            width: 100%;
            margin-top: 2rem;
            padding: 0 calc(1rem + 2.5vw);
            height: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // overflow-x: hidden;

            &::before {
                background-color: rgb(13, 13, 13);
                border-radius: 0;
                // opacity: 0;
                // transition: left .4s ease-in-out;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }

            &:active::before,
            &:hover::before {
                // left: 0;
            }

            &::after {
                content: "";
                position: absolute;
                padding: 0 calc(2rem + 5vw);
                width: 100%;
                height: 2px;
                background: white;
                bottom: -6px;
                left: 0;
            }


        }



        &__nav-item--sub {
            // @extend .header__nav-item;
            // overflow-x: hidden;
            // overflow-y: visible;
            cursor: pointer;
            position: relative;
            width: 100%;
            margin-top: 2rem;
            padding: 0 calc(1rem + 2.5vw);
            height: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // z-index: 5;

            &::after {
                content: "";
                position: absolute;
                padding: 0 calc(2rem + 5vw);
                width: 100%;
                height: 2px;
                background: white;
                bottom: -6px;
                left: 0;
                top: unset;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0vw;
                opacity: 0;
                background-color: rgb(13, 13, 13);
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: opacity .4s ease-in-out;
                border-radius: 0px;

            }

            // &:active::before,
            // &:hover::before
            &.open {
                &::before {
                    opacity: 1;
                }
            }

            .header__sub-link-list {


                &::after {}
            }

            // &:active,
            // &:hover,
            &.open {

                // overflow-y: visible;

                &::after {
                    top: unset;
                    left: 0;
                    width: 100%;
                    padding-top: 5rem;
                    // height: auto;
                }

                .header__sub-link-list {

                    padding-top: unset;
                    padding-bottom: unset;
                    padding: 1rem calc(1rem + 2.5vw);
                    width: 100%;
                    // transition: .3s ease-in-out;
                    transition-duration: .3s;
                    transition-timing-function: ease-in-out;
                    transition-property: height, background-color;

                    &::after {
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition-duration: .3s;
                        transition-timing-function: ease-in-out;
                        transition-property: height, background-color;
                    }

                }
            }
        }

        &__nav-link-wrapper {
            width: 100%;
            justify-content: space-between;
        }

        &__nav-link {
            font-size: font-size(medium);
            display: block;
            text-align: center;
            min-width: 20rem;
            text-align: left;
        }

        &__sub-link-item {
            position: relative;
            border-bottom: 1px white solid;
            overflow: hidden;
            z-index: 1;
            min-width: 87%;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: $primary-color;
                transition: left .4s ease-in-out;
                border-radius: 0px;

            }

            // &::before {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: 100%;
            //     width: 100%;
            //     height: 100%;
            //     z-index: -1;
            //     background-color: $primary-color;
            //     transition: left .4s ease-in-out;
            // }

            &:active::after,
            &:hover::after {
                left: 0;

            }
        }


        &__sub-link {
            font-size: font-size(regular);
            width: 100%;
        }

        &__nav-item--sub {

            &:active,
            &:hover {
                .header__nav-link {
                    color: rgb(205, 205, 205);
                }

                .header__icon-container {
                    svg {
                        path {
                            fill: rgb(205, 205, 205);
                        }
                    }
                }
            }
        }

    }
}

@keyframes stickyNavIn {
    0% {
        top: -13rem;
        opacity: .2;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes stickyNavOut {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -13rem;
        opacity: .2;
    }
}