.hero {
    width: 100%;
    height: 100.3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    // &.justify-start {
    //     justify-content: flex-start;
    //     padding-left: 8rem;
    // }

    // &.justify-end {
    //     justify-content: flex-end;
    //     padding-right: 8rem;
    // }

    // &.justify-center {
    //     justify-content: flex-center;
    // }

    // &.align-start {
    //     align-items: flex-start;
    //     padding-top: 11rem;
    // }

    // &.align-end {
    //     align-items: flex-end;
    //     padding-bottom: 11rem;
    // }

    // &.align-center {
    //     align-items: flex-center;
    // }

    &__bg {
        position: absolute;
        top: 0rem;
        left: 0;
        right: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        // background-image: url('https://cdn.shopify.com/s/files/1/0581/1680/0605/files/Hero-BG.jpg?v=1652411800');

    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0rem;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.35);
    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__cta {
        align-self: flex-end;
        position: absolute;
        right: 0rem;
        bottom: 13.2rem;
        display: block;
        width: 100%;

    }

    &__btn {
        font-size: font-size(regular);
        font-family: var(--font-body-family);
        text-decoration: none;
        margin: 0 4rem 0 auto;

        &::after {
            top: -8px;
            left: 0;
        }

        &:hover::after {
            top: -14px;
        }

        &::before {
            bottom: -8px;
            left: 0;
        }

        &:hover::before {
            bottom: -14px;
        }
    }

    &__logo {
        margin-right: 2rem;
    }

    &__text-box {}

    &__title {
        font-size: font-size(medium);
        font-weight: 100;
        color: white;
        width: 35rem;
    }

    &__subtitle {
        @include text-gradient;
        font-size: font-size(small);
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    @include media-tablet {
        // height: 50rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        height: 45rem;

        &__content {
            align-items: center;
            // width: 100%;
        }

        &__title {
            font-size: font-size(medium);
            width: fit-content;
        }

        &__subtitle {
            font-size: font-size(small);
        }

        &__cta {
            position: relative;
            align-self: unset;
            width: 100%;
            right: 0;
            bottom: 0;
        }

        &__btn {
            // width: 12rem;
            margin: 0 auto 10rem auto;
        }

        &__logo {
            height: 4.6rem;
            width: 4.6rem;
            // flex-basis: 4.6rem;
            // flex-grow: 1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__text-box {
            min-width: min-content;
            // max-width: calc(10rem + 5vw);

        }
    }

    @include media-small {}
}