.image-with-card {
    position: relative;
    width: 100%;
    height: calc(48.3rem + 30vw);

    &__image-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    &__image {
        position: absolute;
        width: auto;
        height: 100%;
    }

    &__card {
        padding: 3rem;
        background-color: white;

        position: absolute;
        top: 30%;
        right: 4rem;
        min-width: calc(20rem + 10vw);
        max-width: calc(40rem + 10vw);
        min-height: 20rem;
    }

    &__heading {
        @include text-gradient;
        font-size: font-size(regular);
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__para {
        font-size: font-size(small);
        margin-bottom: 2rem;
    }

    &__button {}

    &__tabs {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6.5rem;
        display: flex;
        justify-content: space-evenly;
    }

    &__tab-wrapper {
        width: 100%;
        height: 100%;

    }

    &__tab {
        width: 100%;
        height: 100%;
        font-size: font-size(regular);
        font-family: var(--font-body-family);
        color: white;
        background: linear-gradient(rgba(226, 206, 156, .65) 0%, rgba(204, 172, 92, .65) 35%, rgba(188, 147, 47, .65) 80%);
        border: none;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &--active {
            @extend .image-with-card__tab;
            background: linear-gradient(rgba(0, 0, 0, .65) 0%, rgba(80, 80, 80, 0.75) 35%, rgba(0, 0, 0, .65) 80%);
            transition: all .3s ease-in-out;

        }
    }

    @include media-tablet {
        &__tabs {
            flex-wrap: wrap;
            bottom: 19.5rem;
        }

        &__card {
            top: 10%;
        }
    }

    @include media-medium {
        &__card {
            max-width: none;
            min-width: none;
            width: 80%;
        }

        &__tabs {
            height: 5.5rem;
            bottom: 16.5rem;
        }
    }
}