.banner-callout {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    z-index: 1;

    &__svg-container {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 100%;

        z-index: -1;
        overflow-x: hidden;
        height: calc(50rem + 5vw);
        display: flex;
        justify-content: center;
        // align-items: center;
    }

    &__bg {
        height: auto;
        width: 100vw;
    }

    &__content {
        width: 100%;
        height: calc(45rem + 5vw);
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // position: absolute;
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 calc(3.2rem + 5vw);
    }

    &__heading {
        display: block;
        @include section-title--no-gradient;
        color: white;
        text-align: center;
        font-weight: 100;
    }
    &__para {
        margin-top: 2.2rem;
        font-size: calc(1rem + 1vw);
        color: white;
        text-align: center;
        font-weight: 100;
    }

    @include media-tablet {
        &__content {
            // padding: 0 4rem;
            height: calc(40rem + 5vw);
        }

        &__heading {
            font-size: calc(3rem + 1vw);
        }

        &__bg {
            height: 75%;
            width: auto;
        }
    }

    @include media-medium {
        &__bg {
            height: 100%;

            width: auto;
        }

        &__content {
            // padding: 0 4rem;
            height: calc(25rem + 5vw);
        }

        &__svg-container {
            height: calc(30rem + 5vw);
            top: 0;
        }
        &__text {
            padding: 0 calc(1.2rem + 2.5vw);
        }
    }

    @include media-small {
        padding-top: 2rem;
        &__text {
            padding: 0 calc(1.2rem + 0.5vw);
        }
        &__bg {
            // height: calc(100% - 20vw);
            width: auto;
        }

        &__svg-container {
            top: unset;
            bottom: unset;
        }
    }
}
