<input
    checked
    class="header__input"
    hidden
    id="menu"
    name="menu"
    type="checkbox">
<header class="header">
    <div class="header__wrapper">

        <div class="header__logo-container">
            <img
                alt=""
                class="header__logo"
                src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/Logo.png?v=1652389237">
        </div>

        <div class="header__nav">
            <div class="header__overlay"></div>

            <ul class="header__nav-list">
                {% for link in linklists.main-menu.links %}
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="{{ link.url }}">{{ link.title }}</a>
                        <div class="header__icon-container">
                            {% render 'icon-caret'%}
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="header__menu">
            <label class="header__button" for="menu" id="menuButton">
                <div class="header__button-line"></div>
            </label>
        </div>
    </div>
</header>

{% schema %}
{
"name": "header",
"settings": [
{
"type": "link_list",
"id": "new-menu",
"label": "Navigation Menu",
"default": "main-menu",
"info": "Select Menu"
}
]
} {% endschema %}