<header class="header">
    <div class="header__wrapper">
        <div class="logo__container">
            <img src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/Logo.png?v=1652389237" alt="">
        </div>
        <div class="nav">
            <ul class="nav__list">
                {% for link in linklists.main-menu.links %}
                <li class="nav__item">
                    <a class="nav__link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>
        <div class="menu">
            <button id="menuButton" class="menu__button">
                <div class="line"></div>
            </button>
        </div>
    </div>
</header>

{% schema %}
{
"name": "header",
"settings": [
{
"type": "link_list",
"id": "new-menu",
"label": "Navigation Menu",
"default": "main-menu",
"info": "Select Menu"
}
]
}
{% endschema %}