<div class="text-overlay-image">
    <div class="text-overlay-image__bg-image">
        <img src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/bg-image-overlay.jpg?v=1652566414"
            class="text-overlay-image__bg-image"></img>
    </div>
    <div class="text-overlay-image__logo-container">
        <img width="100" height="100"
            src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/logo__box.jpg?v=1652567130" alt=""
            class="text-overlay-image__logo">
    </div>
    <div class="text-overlay-image__content">
        <div class="text-overlay-image__header">
            <h2>Begin Your Welness
                journey Today</h2>
        </div>
        <div class="text-overlay-image__paragraph">You can count on Bella Moore Aesthetics to be there offering our
            expertise and support, whether you’re experiencing a nerve disorder, joint pain, sexual issues, weight gain,
            or a lack of natural essentials. We will be with you for every step.</div>
        <div class="text-overlay-image__btn">
            <a href="/" class="btn btn__primary--md">GET STARTED</a>
        </div>
    </div>
</div>


{% schema %}
{
"name": "main__text-overlay-image",
"settings": [

]
}
{% endschema %}