<div data-animate="{{ section.settings.animation }}" class="quote-text">
  <div class="quote-text__quote-container">
    <span class="quote-text__quote">“{{ section.settings.quote__text }}”</span>

    <div class="quote-text__author-container">
      <span class="quote-text__author-name">{{ section.settings.quote__author }}</span>
      <span class="quote-text__divider"> | </span>
      <span class="quote-text__author-info">{{ section.settings.quote__info }}</span>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Quote",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "textarea",
      "id": "quote__text",
      "label": "Quote",
      "default": "Write a quote about your business here"
    },
    {
      "type": "text",
      "id": "quote__author",
      "label": "Author Name",
      "default": "Alex Minos"
    },
    {
      "type": "text",
      "id": "quote__info",
      "label": "Info",
      "default": "Somewhere"
    },
    {
      "type": "header",
      "content": "Animation",
      "info": "Entrance & Exit Animations"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "options": [
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeDown",
          "label": "Fade Down"
        },
        {
          "value": "fadeUp",
          "label": "Fade Up"
        },
        {
          "value": "fadeRight",
          "label": "Fade Right"
        },
        {
          "value": "fadeLeft",
          "label": "Fade Left"
        }
      ],
      "default": "fadeIn",
      "info": "Select one of the options to animate the entrance and exit of this section. Save changes after selection to preview animation"
    }
  ],
  "presets": [
    {
      "name": "Quote Text"
    }
  ]
}
{% endschema %}
