<div class="gallery-offset">
    <div class="gallery-offset__center-image">
        <img width="1200" height="615"
            src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/gallery-long.jpg?v=1652919364" alt=""
            class="gallery-offset__image">
        <div class="gallery-offset__heading-container">
            <h2 class="gallery-offset__heading">GALLERY</h2>
        </div>

        <div class="gallery-offset__offset-image-container">
            <img width="200" height="400"
                src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/gallery-narrow.jpg?v=1652919364" alt=""
                class="gallery-offset__offset-image">
        </div>
    </div>
</div>

{% schema %}
{
"name": "main__gallery-offset",
"settings": [

]
}
{% endschema %}