<div class="banner-callout">
    <div class="banner-callout__svg-container">
        <img src="{{ 'background-svg.svg' | asset_url }}" alt="" class="banner-callout__bg">
    </div>
    <div class="banner-callout__content">
        <h2 class="banner-callout__heading">Begin Your Health Revolution Today</h2>
    </div>
</div>

{% schema %}
{
"name": "main__banner-callout",
"settings": [

]
}
{% endschema %}