<div class="banner-callout">
    <div class="banner-callout__content">
    <div class="banner-callout__svg-container">
        <img height="575" width="1506" src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/banner-bg.png?v=1653001061" alt="" class="banner-callout__bg">
    </div>
    
        <h2 class="banner-callout__heading">{{ section.settings.heading }}</h2>
    </div>
</div>

{% schema %}
{
"name": "main__banner-callout",
"settings": [
    {
       "type": "text",
       "id": "heading",
       "label": "Heading"
    }
]
}
{% endschema %}