<div class="quote-text">
    <div class="quote-text__quote-container">
        <span class="quote-text__quote">“Dr. Moore and her associates have consistently set the bar for professionalism.
            They provide unmatched service and expertise.”</span>

        <div class="quote-text__author-container">
            <span class="quote-text__author-name">Sheila P.</span>
            <span class="quote-text__divider"> | </span>
            <span class="quote-text__author-info">Medical Grade HCG</span>
        </div>
    </div>
</div>

{% schema %}
{
"name": "main__quote-text",
"settings": [

]
}
{% endschema %}