<div class="image-with-card">
    <div class="image-with-card__image-container">
        <img src="" alt="" class="image-with-card__image">
    </div>
    <div class="image-with-card__card">
        <h2 class="image-with-card__heading"></h2>
        <p class="image-with-card__para"></p>
        <div class="image-with-card__button">
            <a href="" class="btn btn__primary">Get Started</a>
        </div>
    </div>
    <div class="image-with-card__tabs">
        <div class="image-with-card__tab-wrapper">
            <button class="image-with-card__tab">Cool Scuplting</button>
        </div>
        <div class="image-with-card__tab-wrapper">
            <button class="image-with-card__tab">Laser Hair Removal</button>
        </div>
        <div class="image-with-card__tab-wrapper">
            <button class="image-with-card__tab">Injectables</button>
        </div>
        <div class="image-with-card__tab-wrapper">
            <button class="image-with-card__tab">Skin</button>
        </div>
    </div>
</div>

{% schema %}
{
"name": "main__image-with-card",
"settings": [

]
}
{% endschema %}