<div class="hero">
    <div class="hero__bg"></div>
    <div class="hero__overlay"></div>
    <div class="hero__content">
        <div class="hero__logo">
            <img width="116" height="116"
                src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/Logo_116x116_c309b8e0-02e5-45e5-9e05-1cafc83b8f7c.png?v=1652412442"
                alt="">
        </div>
        <div class="hero__text-box">
            <h1 class="hero__title">BELLA MOORE AESTHETICS</h1>
            <span class="hero__subtitle">Lifestyle Innovation</span>
        </div>
    </div>
    <div class="hero__cta">
        <a href="/" class="hero__btn btn btn__secondary">Book Now</a>
    </div>
</div>

{% schema %}
{
"name": "main__hero",
"settings": [

]
}
{% endschema %}