<div class="list">
    <div class="list__heading-container">
        <h3 class="list__heading">Experience & History</h3>
    </div>
    <ul class="list__list-container">
        <li class="list__item">Medical Education
        <ul>
        <li class="list__item">Sports Medicine Fellowship - Cleveland Clinic Primary Care Sports Medicine, Department of Orthopedics (Cleveland, OH)</li>
        <li class="list__item">Physical Medicine and Rehabilitation Residency - Albert Einstein College of Medicine, Montefiore Medical Center (Bronx, NY)</li>
        <li class="list__item">Internal Medicine Internship - Mount Sinai School of Medicine, Queens Hospital Center (Queens, NY)</li>
        <li class="list__item">Doctor of Medicine - Saint George's University School of Medicine (Grenada, West Indies)</li>
    </ul>
</li>
    <li class="list__item">Certifications
    <ul>
    <li class="list__item">Physical Medicine and Rehabilitation (American Board of Physical Medicine and Rehabilitation)</li>
    <li class="list__item">Sports Medicine (American Board of Physical Medicine and Rehabilitation)</li>
</ul></li>
<li class="list__item">Clincal
    <ul>
    <li class="list__item">Sports Medicine</li>
</ul></li>
<li class="list__item">Languages
    <ul>
    <li class="list__item">English</li>
</ul></li>
    </ul>
</div>

{% schema %}
{
   "name": "List",
  "settings": [
  ],
  "presets": [
  {
      "name": "Page List"
  }
]
} {% endschema %}