*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  --primary-color: #CDB16C;
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
small,
li,
a,
button {
  font-family: var(--font-body-family);
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

main {
  width: 100%;
}

html {
  --color-primary: #CDB16C;
  --xxsmall: 1rem;
  --xsmall: 1.3rem;
  --small: 1.6rem;
  --medium: 2rem;
  --regular-24: 2.4rem;
  --regular-31: 3.1rem;
  --large: 3.8rem;
  --xlarge: 4.8rem;
}

.components {
  width: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.components__section {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5rem;
}

.btn {
  padding: 0rem 1rem;
  border-width: 0px;
  border-color: transparent;
  outline-width: 0rem;
  outline-color: transparent;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}
.btn__primary, .btn__primary--sm, .btn__primary--md, .btn__primary--lg {
  color: white;
  background-color: #000;
  transition: background-color 0.4s ease-in-out;
}
.btn__primary span, .btn__primary--sm span, .btn__primary--md span, .btn__primary--lg span {
  display: block;
  margin: auto;
  line-height: 0;
  padding: 0rem 1.5rem;
}
.btn__primary:active, .btn__primary--sm:active, .btn__primary--md:active, .btn__primary--lg:active, .btn__primary:hover, .btn__primary--sm:hover, .btn__primary--md:hover, .btn__primary--lg:hover {
  background-color: rgb(30, 30, 30);
}
.btn__primary--lg {
  min-width: 18.7rem;
  min-height: 4.8rem;
  font-size: calc(1.5rem + 1vw);
}
.btn__primary--md {
  min-width: 15.8rem;
  min-height: 4rem;
  font-size: calc(1.2rem + 0.5vw);
}
.btn__primary--sm {
  min-width: 13.4rem;
  min-height: 3.4rem;
  font-size: calc(1rem + 0.5vw);
}
.btn__secondary, .btn__secondary--sm, .btn__secondary--md, .btn__secondary--lg {
  color: white;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.btn__secondary::after, .btn__secondary--sm::after, .btn__secondary--md::after, .btn__secondary--lg::after, .btn__secondary::before, .btn__secondary--sm::before, .btn__secondary--md::before, .btn__secondary--lg::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.btn__secondary::after, .btn__secondary--sm::after, .btn__secondary--md::after, .btn__secondary--lg::after {
  top: 0;
  left: 0;
}
.btn__secondary:hover::after, .btn__secondary--sm:hover::after, .btn__secondary--md:hover::after, .btn__secondary--lg:hover::after {
  top: -4px;
}
.btn__secondary::before, .btn__secondary--sm::before, .btn__secondary--md::before, .btn__secondary--lg::before {
  bottom: 0;
  left: 0;
}
.btn__secondary:hover::before, .btn__secondary--sm:hover::before, .btn__secondary--md:hover::before, .btn__secondary--lg:hover::before {
  bottom: -4px;
}
.btn__secondary span, .btn__secondary--sm span, .btn__secondary--md span, .btn__secondary--lg span {
  display: block;
  margin: auto;
  line-height: 0;
  padding: 0rem 1.5rem;
}
.btn__secondary--lg {
  min-width: 18.7rem;
  min-height: 4.8rem;
  font-size: calc(1.5rem + 1vw);
}
.btn__secondary--md {
  min-width: 15.8rem;
  min-height: 4rem;
  font-size: calc(1.2rem + 0.5vw);
}
.btn__secondary--sm {
  min-width: 13.4rem;
  min-height: 3.4rem;
  font-size: calc(1rem + 0.5vw);
}

.header {
  width: 100%;
  height: 10.2rem;
  position: fixed;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header__nav {
  position: relative;
}
.header__nav::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: -5%;
  height: 2px;
  width: 110%;
  background-color: white;
}
.header__nav-list {
  display: flex;
  justify-content: space-evenly;
}
.header__nav-item {
  list-style: none;
  position: relative;
  margin: 0 1rem;
}
.header__nav-item::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  opacity: 0;
  background-color: var(--primary-color);
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  border-radius: 5px;
  z-index: -1;
  transition: opacity 0.4s ease-in-out;
}
.header__nav-item:active::before, .header__nav-item:hover::before {
  opacity: 1;
}
.header__nav-link {
  text-decoration: none;
  font-size: calc(1.2rem + 0.5vw);
  color: white;
  font-family: var(--font-body-family);
}
.header__nav-link-wrapper {
  display: flex;
  align-items: baseline;
}
.header__sub-link-list {
  list-style: none;
  position: absolute;
  width: 15.5rem;
  top: 100%;
  left: 0;
  height: 0;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.header__sub-link {
  text-decoration: none;
  color: white;
  font-size: calc(1.2rem + 0.5vw);
  position: relative;
  z-index: 5;
}
.header__sub-link-item {
  position: relative;
  height: auto;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  overflow-x: hidden;
  z-index: 1;
}
.header__sub-link-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--primary-color);
  transition: left 0.4s ease-in-out;
  border-radius: 0px;
}
.header__sub-link-item:active::after, .header__sub-link-item:hover::after {
  left: 0;
  z-index: -1;
}
.header__icon-container {
  display: block;
  width: 2rem;
  margin-left: 4px;
}
.header__icon-container svg path {
  fill: white;
}
.header__nav-item--sub {
  list-style: none;
  position: relative;
  margin: 0 1rem;
  width: fit-content;
  position: relative;
  cursor: pointer;
}
.header__nav-item--sub::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 15.5rem;
  height: calc(100% + 1rem);
  background-color: transparent;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.header__nav-item--sub .header__nav-link {
  width: fit-content;
}
.header__nav-item--sub:active::after, .header__nav-item--sub:hover::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -1rem;
  width: calc(100% + 2.4rem);
  height: calc(100% + 1rem);
  background-color: rgb(13, 13, 13);
  border-radius: 3px 3px 0 0;
  z-index: -1;
}
.header__nav-item--sub:active .header__nav-link-wrapper, .header__nav-item--sub:hover .header__nav-link-wrapper {
  position: relative;
}
.header__nav-item--sub:active .header__sub-link-list, .header__nav-item--sub:hover .header__sub-link-list {
  transition: all 0.3s ease-in-out;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: fit-content;
  overflow: visible;
}
.header__nav-item--sub:active .header__sub-link-list::after, .header__nav-item--sub:hover .header__sub-link-list::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  width: calc(100% + 6rem);
  height: 100%;
  z-index: -1;
  border-radius: 0 3px 3px 3px;
  background-color: rgb(13, 13, 13);
}
.header__button {
  display: flex;
  align-items: center;
  height: 3.6rem;
  width: 6.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.header__button-line {
  display: block;
  margin: auto;
  z-index: -1;
  position: relative;
  width: inherit;
  height: 3px;
  background-color: var(--primary-color);
}
.header__button-line::after {
  position: absolute;
  height: 3px;
  content: "";
  width: 100%;
  background-color: var(--primary-color);
  top: -12px;
  left: 0;
}
.header__button-line::before {
  position: absolute;
  height: 3px;
  content: "";
  width: 100%;
  background-color: var(--primary-color);
  bottom: -12px;
  left: 0;
}
.header__overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 900px) {
  .header {
    overflow: hidden;
  }
  .header__wrapper {
    justify-content: space-between;
    padding: 0 2rem;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    overflow-y: hidden;
  }
  .header__nav::after {
    display: none;
  }
  .header__button-line, .header__button-line::after, .header__button-line::before {
    transition: all 0.3s ease-in-out;
    z-index: 4;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  }
  .header__icon-container {
    height: auto;
    width: auto;
    display: block;
  }
  .header__icon-container > svg {
    width: 3rem;
    height: auto;
  }
  .header__icon-container > svg path {
    fill: white;
  }
  .header__input:checked {
    transition: all 0.3s ease-in-out;
  }
  .header__input:checked ~ .header {
    transition: all 0.3s ease-in-out;
    height: 100%;
    overflow-y: hidden;
  }
  .header__input:checked ~ .header .header__logo-container,
.header__input:checked ~ .header .header__menu {
    position: fixed;
    top: 3rem;
    z-index: 4;
  }
  .header__input:checked ~ .header .header__logo-container {
    left: 2rem;
  }
  .header__input:checked ~ .header .header__menu {
    right: 2rem;
  }
  .header__input:checked ~ .header .header__button-line,
.header__input:checked ~ .header .header__button-line::after,
.header__input:checked ~ .header .header__button-line::before {
    transition: all 0.3s ease-in-out;
    z-index: 4;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.495));
  }
  .header__input:checked ~ .header .header__button-line::after {
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
  }
  .header__input:checked ~ .header .header__button-line {
    height: 0;
  }
  .header__input:checked ~ .header .header__button-line::before {
    transform: rotate(-45deg);
    top: 0;
    bottom: 0;
  }
  .header__input:checked ~ .header .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100%;
    overflow-y: hidden;
  }
  .header__input:checked ~ .header .header__nav-list {
    width: 100%;
    top: 20rem;
    z-index: 3;
    margin-top: 2rem;
    padding: 0 calc(2rem + 5vw);
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header__input:checked ~ .header .header__overlay {
    transition: transform 0.5s ease-in-out;
    position: fixed;
    transform: translateY(0);
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100vw;
    background-color: var(--primary-color);
  }
  .header__input:checked ~ .header .header__wrapper {
    align-items: flex-start;
  }
  .header__input:checked ~ .header .header__wrapper {
    position: relative;
    z-index: 4;
  }
  .header__nav-list {
    position: absolute;
    flex-wrap: wrap;
    top: -50rem;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    justify-content: space-between;
  }
  .header__nav-list.open {
    top: 20rem;
  }
  .header__nav-item {
    cursor: pointer;
    position: relative;
    width: 100%;
    margin-top: 2rem;
    padding: 0 calc(1rem + 2.5vw);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav-item::before {
    background-color: rgb(13, 13, 13);
    border-radius: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .header__nav-item::after {
    content: "";
    position: absolute;
    padding: 0 calc(2rem + 5vw);
    width: 100%;
    height: 2px;
    background: white;
    bottom: -6px;
    left: 0;
  }
  .header__nav-item--sub {
    cursor: pointer;
    position: relative;
    width: 100%;
    margin-top: 2rem;
    padding: 0 calc(1rem + 2.5vw);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav-item--sub::after {
    content: "";
    position: absolute;
    padding: 0 calc(2rem + 5vw);
    width: 100%;
    height: 2px;
    background: white;
    bottom: -6px;
    left: 0;
    top: unset;
  }
  .header__nav-item--sub::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0vw;
    opacity: 0;
    background-color: rgb(13, 13, 13);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.4s ease-in-out;
    border-radius: 0px;
  }
  .header__nav-item--sub:active::before, .header__nav-item--sub:hover::before {
    opacity: 1;
  }
  .header__nav-item--sub:active::after, .header__nav-item--sub:hover::after {
    top: unset;
    left: 0;
    width: 100%;
    padding-top: 5rem;
  }
  .header__nav-item--sub:active .header__sub-link-list, .header__nav-item--sub:hover .header__sub-link-list {
    padding-top: unset;
    padding-bottom: unset;
    padding: 1rem calc(1rem + 2.5vw);
    width: 100%;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: height, background-color;
  }
  .header__nav-item--sub:active .header__sub-link-list::after, .header__nav-item--sub:hover .header__sub-link-list::after {
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: height, background-color;
  }
  .header__nav-link-wrapper {
    width: 100%;
    justify-content: space-between;
  }
  .header__nav-link {
    font-size: calc(1.5rem + 2vw);
    display: block;
    text-align: center;
    min-width: 20rem;
    text-align: left;
  }
  .header__sub-link-item {
    position: relative;
    border-bottom: 1px white solid;
    overflow: hidden;
    z-index: 1;
  }
  .header__sub-link-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--primary-color);
    transition: left 0.4s ease-in-out;
    border-radius: 0px;
  }
  .header__sub-link-item:active::after, .header__sub-link-item:hover::after {
    left: 0;
  }
  .header__sub-link {
    font-size: calc(1.5rem + 1vw);
  }
}

.hero {
  width: 100%;
  height: 100.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__bg {
  position: absolute;
  top: 0rem;
  left: 0;
  right: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.35);
}
.hero__content {
  display: flex;
  justify-content: center;
}
.hero__cta {
  align-self: flex-end;
  position: absolute;
  right: 2rem;
  bottom: 13.2rem;
}
.hero__btn {
  font-size: calc(1.5rem + 1vw);
  font-family: var(--font-body-family);
  text-decoration: none;
}
.hero__btn::after {
  top: -8px;
  left: 0;
}
.hero__btn:hover::after {
  top: -14px;
}
.hero__btn::before {
  bottom: -8px;
  left: 0;
}
.hero__btn:hover::before {
  bottom: -14px;
}
.hero__logo {
  margin-right: 2rem;
}
.hero__title {
  font-size: calc(1.5rem + 2vw);
  font-weight: 100;
  color: white;
  width: 35rem;
}
.hero__subtitle {
  background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(1.2rem + 0.5vw);
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 45rem;
  }
  .hero__content {
    align-items: center;
  }
  .hero__title {
    font-size: calc(1.5rem + 2vw);
    width: fit-content;
  }
  .hero__subtitle {
    font-size: calc(1.2rem + 0.5vw);
  }
  .hero__cta {
    position: relative;
    align-self: unset;
    width: 100%;
    right: 0;
    bottom: 0;
  }
  .hero__btn {
    width: 12rem;
    margin: 0 auto 10rem auto;
  }
  .hero__logo {
    height: 4.6rem;
    width: 4.6rem;
  }
  .hero__logo img {
    width: 100%;
    height: 100%;
  }
  .hero__text-box {
    min-width: min-content;
  }
}

.image-with-text {
  height: 46.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-with-text__image {
  height: calc(20rem + 5vw);
  width: calc(20rem + 5vw);
}
.image-with-text__text-box {
  margin-left: 2rem;
}
.image-with-text__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 62.8rem;
}
.image-with-text__heading {
  background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(1.5rem + 5vw);
  font-weight: 100;
  letter-spacing: -4.5px;
}
.image-with-text__para {
  font-size: calc(1.2rem + 0.5vw);
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .image-with-text__content {
    flex-wrap: wrap;
    align-items: stretch;
  }
  .image-with-text__image img {
    width: 100%;
    height: auto;
  }
  .image-with-text__text-box {
    margin-top: 2rem;
    margin-left: 0rem;
    padding: 0 5rem;
  }
  .image-with-text__heading {
    letter-spacing: normal;
  }
}

.image-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 68.5rem);
}
.image-columns__column {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: repeat(7, 1fr);
  transition: all 0.3s ease-in-out;
  filter: saturate(0) brightness(0.8);
}
.image-columns__column:active, .image-columns__column:hover {
  filter: saturate(1) brightness(1);
}
.image-columns__column:active .image-columns__content, .image-columns__column:hover .image-columns__content {
  transform: translateY(0);
}
.image-columns__column--1 {
  columns: 1/2;
}
.image-columns__column--2 {
  columns: 2/3;
}
.image-columns__column--3 {
  columns: 3/4;
}
.image-columns__column--4 {
  columns: 4/5;
}
.image-columns__heading {
  font-size: calc(1.2rem + 0.5vw);
  color: white;
  width: 100%;
  grid-column: 2/3;
  grid-row: 4/5;
  place-self: center;
}
.image-columns__heading span {
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.image-columns__content {
  transition: transform 0.3s ease-in-out;
  transform: translateY(69rem);
  place-self: stretch;
  padding: 2rem 2rem 0rem 2rem;
  grid-column: 1/4;
  grid-row: 5/8;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 10px solid var(--primary-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image-columns__para {
  font-size: calc(1rem + 0.5vw);
  color: white;
  text-align: center;
}
.image-columns__btn {
  min-width: 11.5rem;
  max-width: 15.5rem;
  height: auto;
}
.image-columns__btn a {
  font-size: calc(1.2rem + 0.5vw);
  letter-spacing: 5px;
  text-decoration: none;
}
.image-columns__btn a::after {
  top: -2px;
}
.image-columns__btn a::before {
  bottom: -2px;
}
@media screen and (max-width: 900px) {
  .image-columns {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 68.5rem);
  }
  .image-columns__para {
    font-size: calc(1.5rem + 0.5vw);
  }
  .image-columns__heading {
    grid-row: 3/4;
  }
  .image-columns__content {
    grid-row: 4/8;
  }
  .image-columns__column:nth-of-type(1) {
    grid-row: auto;
    grid-column: 1/3;
  }
  .image-columns__column:nth-of-type(2) {
    grid-row: auto;
    grid-column: 3/5;
  }
  .image-columns__column:nth-of-type(3) {
    grid-row: auto;
    grid-column: 1/3;
  }
  .image-columns__column:nth-of-type(4) {
    grid-row: auto;
    grid-column: 3/5;
  }
}
@media screen and (max-width: 600px) {
  .image-columns {
    grid-template-rows: repeat(4, 60.5rem);
  }
  .image-columns__column:nth-of-type(1), .image-columns__column:nth-of-type(2), .image-columns__column:nth-of-type(3), .image-columns__column:nth-of-type(4) {
    grid-column: 1/5;
  }
  .image-columns__heading {
    grid-row: 4/5;
  }
  .image-columns__content {
    grid-row: 5/8;
  }
}
@media screen and (max-width: 400px) {
  .image-columns__heading {
    grid-row: 4/5;
  }
  .image-columns__content {
    grid-row: 5/8;
  }
}

.text-overlay-image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.text-overlay-image__bg-image-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(57rem + 10vw);
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  justify-content: center;
}
.text-overlay-image__bg-image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 3;
}
.text-overlay-image__logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
}
.text-overlay-image__logo {
  margin: 0 auto;
  display: block;
}
.text-overlay-image__content {
  margin-top: 14rem;
  max-width: 40rem;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.text-overlay-image__header-container {
  display: block;
  width: 100%;
}
.text-overlay-image__header {
  background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(1.5rem + 2vw);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.text-overlay-image__para {
  margin-top: 2rem;
  font-size: calc(1.2rem + 0.5vw);
  font-family: var(--font-body-family);
}
.text-overlay-image__btn {
  display: block;
  margin-top: 2rem;
}
@media screen and (max-width: 900px) {
  .text-overlay-image__bg-image {
    height: 50rem;
    width: auto;
  }
  .text-overlay-image__content {
    max-width: calc(35rem + 13vw);
    padding: 2rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  .text-overlay-image__bg-image {
    height: calc(100% - 10vw);
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  .text-overlay-image__logo {
    width: calc(4.5rem + 10vw);
    height: auto;
  }
  .text-overlay-image__bg-image {
    height: 100%;
    width: auto;
  }
  .text-overlay-image__content {
    margin-top: 12rem;
    padding: 2rem 4rem;
  }
  .text-overlay-image__para {
    font-size: calc(1.5rem + 1vw);
  }
  .text-overlay-image__header {
    font-size: calc(1.5rem + 5vw);
  }
}

.banner-callout {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 5rem;
}
.banner-callout__svg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  overflow-x: hidden;
  height: calc(50rem + 5vw);
  display: flex;
  justify-content: center;
}
.banner-callout__bg {
  height: auto;
  width: 100vw;
}
.banner-callout__content {
  width: 100%;
  height: calc(40rem + 5vw);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-callout__heading {
  font-size: calc(4rem + 1.5vw);
  color: white;
  text-align: center;
  font-weight: 100;
}
@media screen and (max-width: 900px) {
  .banner-callout__content {
    padding: 0 4rem;
    height: calc(25rem + 5vw);
  }
  .banner-callout__heading {
    font-size: calc(3rem + 1vw);
  }
  .banner-callout__bg {
    height: 75%;
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .banner-callout__bg {
    height: 100%;
    width: auto;
  }
  .banner-callout__content {
    padding: 0 4rem;
    height: calc(20rem + 5vw);
  }
  .banner-callout__svg-container {
    height: calc(30rem + 5vw);
    top: 0;
  }
}
@media screen and (max-width: 400px) {
  .banner-callout {
    padding-top: 2rem;
  }
  .banner-callout__bg {
    width: auto;
  }
  .banner-callout__svg-container {
    top: unset;
    bottom: unset;
  }
}

.gallery-offset {
  position: relative;
  width: 100%;
}
.gallery-offset__center-image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 15px 16px 45px;
}
.gallery-offset__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  filter: saturate(0) brightness(0.76);
}
.gallery-offset__heading-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.gallery-offset__heading {
  color: white;
  font-size: calc(2.1rem + 15vw);
  font-weight: 100;
}
.gallery-offset__offset-image-container {
  position: absolute;
  top: -11rem;
  right: 10rem;
  width: calc(15rem + 5vw);
  height: calc(25rem + 10vw);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
.gallery-offset__offset-image {
  position: absolute;
  width: auto;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 15px 16px 45px;
}
@media screen and (max-width: 900px) {
  .gallery-offset__offset-image-container {
    width: calc(10rem + 5vw);
    height: calc(20rem + 5vw);
    top: -6rem;
    right: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .gallery-offset__offset-image-container {
    width: calc(7rem + 5vw);
    height: calc(12rem + 10vw);
    top: -3rem;
    right: 4rem;
  }
}

.quote-text {
  width: 100%;
  min-height: 30rem;
  padding: 4rem 4rem;
}
.quote-text__quote-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.quote-text__quote {
  display: block;
  font-size: calc(1.5rem + 2vw);
  width: calc(23rem + 25vw);
  text-align: center;
  font-weight: 500;
}
.quote-text__author-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.quote-text__author-container span {
  font-size: calc(1.2rem + 0.5vw);
  background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.two-columns {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(65rem + 10vw);
  position: relative;
}
.two-columns__logo-container, .two-columns__logo-container--hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-columns__logo-container--hidden {
  display: none;
}
.two-columns__logo {
  width: 10rem;
  height: 10rem;
}
.two-columns__col {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 calc(3.5rem + 8vw);
}
.two-columns__content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: calc(60% - 5vw);
}
.two-columns__bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.two-columns__bg {
  width: auto;
  height: 120%;
  filter: grayscale(1) brightness(0.65);
}
.two-columns__heading-container {
  width: 100%;
}
.two-columns__heading {
  text-align: center;
  font-size: calc(1.5rem + 2vw);
  font-weight: 100;
  color: white;
  text-transform: capitalize;
  letter-spacing: -1px;
}
.two-columns__para-container {
  width: 100%;
}
.two-columns__para {
  color: white;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 100;
  line-height: 2.5rem;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .two-columns__col {
    justify-content: center;
    padding: 0 calc(1rem + 5.5vw);
  }
  .two-columns__logo {
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (max-width: 600px) {
  .two-columns {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, calc(55rem + 10vw));
  }
  .two-columns__heading {
    font-size: calc(1.5rem + 5vw);
  }
  .two-columns__para {
    font-size: calc(1.5rem + 1vw);
  }
}

.three-columns {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.three-columns__col {
  position: relative;
  height: calc(50.5rem + 10vw);
  width: 100%;
}
.three-columns__col:active, .three-columns__col:hover {
  transition: all 0.3s ease-in-out;
}
.three-columns__col:active .three-columns__image, .three-columns__col:hover .three-columns__image {
  filter: saturate(1) brightness(1) grayscale(0);
}
.three-columns__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
}
.three-columns__image {
  transition: all 0.3s ease-in-out;
  height: 100%;
  filter: saturate(0) brightness(0.65) grayscale(1);
}
.three-columns__content {
  text-decoration: none;
  color: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.three-columns__heading {
  color: white;
  font-size: calc(1.5rem + 2vw);
  font-weight: 100;
}
@media screen and (max-width: 600px) {
  .three-columns {
    flex-wrap: wrap;
  }
  .three-columns__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .three-columns__image-container {
    height: calc(40.5rem + 10vw);
  }
  .three-columns__col {
    height: calc(40.5rem + 10vw);
  }
  .three-columns__heading {
    font-size: calc(1.5rem + 5vw);
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

.image-with-card {
  position: relative;
  width: 100%;
  height: calc(48.3rem + 30vw);
}
.image-with-card__image-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.image-with-card__image {
  position: absolute;
  width: auto;
  height: 100%;
}
.image-with-card__card {
  padding: 3rem;
  background-color: white;
  position: absolute;
  top: 30%;
  right: 4rem;
  min-width: calc(20rem + 10vw);
  max-width: calc(40rem + 10vw);
  min-height: 20rem;
}
.image-with-card__heading {
  background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(1.5rem + 1vw);
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.image-with-card__para {
  font-size: calc(1.2rem + 0.5vw);
  margin-bottom: 2rem;
}
.image-with-card__tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  display: flex;
  justify-content: space-evenly;
}
.image-with-card__tab-wrapper {
  width: 100%;
  height: 100%;
}
.image-with-card__tab, .image-with-card__tab--active {
  width: 100%;
  height: 100%;
  font-size: calc(1.5rem + 1vw);
  font-family: var(--font-body-family);
  color: white;
  background: linear-gradient(rgba(226, 206, 156, 0.65) 0%, rgba(204, 172, 92, 0.65) 35%, rgba(188, 147, 47, 0.65) 80%);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.image-with-card__tab--active {
  background: linear-gradient(rgba(0, 0, 0, 0.65) 0%, rgba(80, 80, 80, 0.75) 35%, rgba(0, 0, 0, 0.65) 80%);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 900px) {
  .image-with-card__tabs {
    flex-wrap: wrap;
    bottom: 19.5rem;
  }
  .image-with-card__card {
    top: 10%;
  }
}
@media screen and (max-width: 600px) {
  .image-with-card__card {
    max-width: none;
    min-width: none;
    width: 80%;
  }
  .image-with-card__tabs {
    height: 5.5rem;
    bottom: 16.5rem;
  }
}

.content-squares {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
}
.content-squares__square {
  display: grid;
}
.content-squares__square::before {
  content: "";
  padding-bottom: 100%;
  display: block;
  grid-area: 1/1/2/2;
}
.content-squares__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  grid-area: 1/1/2/2;
  filter: brightness(0.55) saturate(0) grayscale(1);
  transition: filter 0.3s ease-in-out;
}
.content-squares__image:active, .content-squares__image:hover {
  transition: filter 0.3s ease-in-out;
  filter: brightness(1) saturate(1) grayscale(0);
}
.content-squares__content-wrapper {
  width: 100%;
  height: 100%;
  object-fit: contain;
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 calc(0.5rem + 3vw);
}
.content-squares__heading-container {
  width: 100%;
}
.content-squares__heading {
  background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(1.5rem + 2vw);
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.content-squares__button-container {
  width: 100%;
}
.content-squares__button.btn.btn__secondary--md {
  background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: calc(20rem + 5vw);
  margin: 0 auto;
  text-transform: uppercase;
}
.content-squares__button.btn.btn__secondary--md::after, .content-squares__button.btn.btn__secondary--md::before {
  background: black;
}
.content-squares__para-container {
  width: 100%;
}
.content-squares__para {
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 100;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .content-squares {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .content-squares__heading {
    font-size: calc(1.5rem + 1vw);
  }
  .content-squares__content-wrapper {
    padding: 0 calc(1rem + 0.5vw);
    gap: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .content-squares__content-wrapper {
    gap: 2rem;
  }
  .content-squares__heading {
    font-size: calc(1.5rem + 5vw);
  }
  .content-squares__button.btn.btn__secondary--md {
    font-size: calc(1.5rem + 1vw);
    background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
    background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.footer {
  width: 100%;
  min-height: 50vh;
  background-color: rgb(13, 13, 13);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 2rem;
}
.footer__brand {
  width: calc(30rem + 10vw);
  position: relative;
  z-index: 1;
}
.footer__brand::before {
  content: "";
  content: "";
  position: absolute;
  width: calc(100% + 2rem);
  height: calc(100% + 4rem);
  top: -2rem;
  left: -2rem;
  background: var(--primary-color);
  mix-blend-mode: luminosity;
  z-index: -1;
}
.footer__brand-content {
  width: 100%;
}
.footer__logo-container {
  display: block;
  height: 9rem;
  width: 9rem;
  margin: 0 auto;
}
.footer__heading-container {
  display: block;
  height: 100%;
  width: fit-content;
  margin: 0 auto;
}
.footer__heading {
  font-size: calc(1.5rem + 1vw);
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  margin-top: 0.5rem;
}
.footer__nav {
  width: calc(80rem + 20vw);
}
.footer__logo {
  width: 100%;
  height: auto;
}
.footer__info {
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}
.footer__info::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  height: calc(100% + 1rem);
  z-index: -1;
  background: rgb(13, 13, 13);
}
.footer__address, .footer__phone, .footer__hours {
  font-size: calc(1.2rem + 0.5vw);
  color: white;
  text-align: center;
}
.footer__address span, .footer__phone span, .footer__hours span {
  display: block;
}
.footer__nav {
  padding: 0 0 0 calc(0.5rem + 1vw);
  display: flex;
  flex-wrap: wrap;
}
.footer__nav-item {
  width: 20%;
}
.footer__nav-link-container {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.footer__nav-link-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 2px;
  left: -90%;
  background-color: white;
  transition: left 0.2s ease-in-out;
}
.footer__nav-link-container:active::before, .footer__nav-link-container:hover::before {
  left: -70%;
}
.footer__nav-link {
  font-size: calc(0.8rem + 1vw);
  text-decoration: none;
  background: linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background: -webkit-linear-gradient(rgb(243, 196, 79), rgb(165, 122, 13));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 100;
  padding-bottom: 1rem;
  display: block;
}
.footer__sub-link {
  display: block;
  margin-bottom: 0.3rem;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 100;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.footer__sub-link:active, .footer__sub-link:hover {
  color: var(--primary-color);
}
@media screen and (max-width: 900px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer__brand {
    margin-bottom: 2rem;
    padding-top: 1rem;
  }
  .footer__brand::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: none;
  }
  .footer__info::after {
    background: none;
  }
  .footer__nav-item {
    width: 30%;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .footer__heading {
    font-size: calc(1.5rem + 5vw);
  }
  .footer__nav-item {
    width: 50%;
  }
  .footer__nav-link {
    font-size: calc(1.5rem + 2vw);
  }
  .footer__sub-link {
    font-size: calc(1.2rem + 0.5vw);
  }
}
.footer .copyright {
  font-size: calc(0.7rem + 0.5vw);
  color: grey;
}

body {
  width: 100%;
  height: 100vh;
}