html {
  //******** Colors *********//
--color-primary: #CDB16C;


  //******** Typography *********//
  --xxsmall: 1rem;
  --xsmall: 1.3rem;
  --small: 1.6rem;
  --medium: 2rem;
  --regular-24: 2.4rem;
  --regular-31: 3.1rem;
  --large: 3.8rem;
  --xlarge: 4.8rem;
}

// Typography Settings

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Font Weights *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$font-weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "regular": 400,
  "semibold": 500,
  "bold": 600,
  "extrabold": 600,
);

@function font-weight($font-weight-style) {
  @return map-get($font-weights, $font-weight-style);
}

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Font Sizes *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$font-sizes: (
  "xxsmall": calc(0.7rem + 0.5vw),
  "xsmall": calc(1rem + 0.5vw),
  "small": calc(1.2rem + 0.5vw),
  "regular": calc(1.5rem + 1vw),
  "medium": calc(1.5rem + 2vw),
  "large": calc(1.5rem + 5vw),
  "xlarge": calc(2.5rem + 5vw),
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Break Points *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
$break-points: (
  "break-point-small": 400px,
  "break-point-medium": 600px,
  "break-point-tablet": 900px,
  "break-point-desktop": 1300px,
);

@function break-point($break-point-limit) {
  @return map-get($break-points, $break-point-limit);
}